[submodule "external/three-dim-util"]
	path = external/three-dim-util
	url = https://github.com/yuki-koyama/three-dim-util.git
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
